<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<title>{{ title }}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<base href="{{ base }}" />
{% if robots %}
<meta name="robots" content="{{ robots }}" />
{% endif %}
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
{% if og_url%}
<meta property="og:url" content="{{ og_url }}" />
{% endif %}
{% if og_image %}
<meta property="og:image" content="{{ og_image }}" />
{% endif %}
<meta property="og:site_name" content="{{ name }}" />
<meta name="theme-color" content="#{{ theme_color }}" />
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="date=no">
<meta name="format-detection" content="address=no">
<meta name="format-detection" content="email=no">
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for font in font_preload %}
	<link href="{{ font }}" rel="preload" as="font" type="font/woff2" crossorigin />
{% endfor %}
{% for style in styles %}
	{{ 'merged' in style.href ? '<link href="'~style.href~'" rel="preload" as="style" />' }}
	<link href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
<script>const items_on_mobile = '{{ items_per_row_on_mobile }}', module_on_mobile = '{{ module_on_mobile }}', default_view = '{{ default_view }}', default_mobile_view = '{{ default_mobile_view }}';</script>
{% for script in scripts %}
	{{ 'merged' in script ? '<link href="'~script~'" rel="preload" as="script" />' }}
	<script src="{{ script }}"></script>
{% endfor %}
{% if user_js %}
<script>{{ user_js }}</script>
{% endif %}
{% for analytic in analytics %}
	{{ analytic }}
{% endfor %}
{{ menu_expanded ? '<style>@media (min-width:992px) {header .menu1 .menu__collapse {display:block !important}}</style>' }}
<noscript><style>.uni-module__wrapper{opacity:1}</style></noscript>
</head>
		

<body>
	<style>
        
    </style>

    <header class="header">
        
	</header>
</body>